{% load crispy_forms_tags %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header justify-content-between d-flex align-items-center">
                        <h4 class="card-title">To'lov qilish</h4>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <form  class="needs-validation" action="{% url "payments:payment" %}" method="post"> {% csrf_token %}
                            <div class="'row">
                                {{ form|crispy }}
                            </div>
                            <button class="btn btn-primary main-background-color" type="submit">To'lash</button>
                        </form><!-- end form -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div> <!-- end col -->
        </div>
{% endblock content %}