{% extends "layouts/main.html" %}
{% load helpers %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow-2">
                        <div class="card-header justify-content-between d-flex align-items-center mb-5">
                            <h4 class="card-title">Xonalar ro'yhati</h4>
                            {% if ceo or manager or admin %}
                                <a url="{% url "rooms:create" %}"
                                   class="btn btn-sm btn-success show-modal main-background-color"
                                   data-bs-toggle="modal"
                                   data-bs-target=".bs-example-modal-center">Qo'shish <i
                                        class="mdi mdi-arrow-right align-middle"></i></a>
                            {% endif %}
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0" id="datatable">
                                    <thead>
                                    <tr>
                                        <th>Nomi</th>
                                        {% if ceo or manager or admin %}
                                            <th>#</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for room in rooms %}
                                        <tr>
                                            <th scope="row">{{ room.name }}</th>
                                            {% if ceo or manager or admin %}
                                                <td class="align-items-center d-flex">
                                                    <a type="button" class="show-modal"
                                                       data-bs-toggle="modal"
                                                       data-bs-target=".bs-example-modal-center"
                                                       url="{% url "rooms:delete" pk=room.id %}">
                                                        <i class="mdi mdi-trash-can-outline align-middle fs-4 text-danger p-0 m-0"></i>
                                                    </a>
                                                    <a type="button" class="show-modal"
                                                       data-bs-toggle="modal"
                                                       data-bs-target=".bs-example-modal-center"
                                                       url="{% url "rooms:edit" pk=room.id %}">
                                                        <i class="mdi mdi-content-save-edit-outline fs-4 text-primary ms-2"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- container-fluid -->
    </div>
{% endblock content %}