{% extends "layouts/main.html" %}
{% load helpers %}

{% block content %}
<style>
    .select-input{
        min-width: 100px;
        min-height: 30px;
        text-align:center;
    }
</style>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow-2">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0" id="datatable">
                                    <thead>
                                    <tr>
                                        <th>FIO</th>
                                        <th>Telefon</th>
                                        <th>Jinsi</th>
                                        <th>Tug'ulgan kuni</th>
                                        <th>Certifikat turi</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <th scope="row"><a
                                                    class="a-href"
                                                    href="{% url "accounts:student" pk=student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
                                            </th>
                                            <td>{{ student.phone }}</td>
                                            <td>{{ student.gender }}</td>
                                            <td>{{ student.birth_day }}</td>
                                            <td>
                                                <select class="select-input" name="type" id="certificate-{{ student.id }}">
                                                    {% for certificate in certificates %}
                                                    <option value="certificate-{{ certificate.id }}">{{ certificate.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                {% if group.course.id|isUserCertificate:student.id == True %}
                                                    <span id="button-container-{{ student.id }}">
                                                        <button onclick="generateCertificate({{ student.id }})"
                                                                class="btn btn-primary main-background-color">Yaratish
                                                        </button>
                                                    </span>
                                                {% else %}
                                                    {% with group.course.id|userCertificate:student.id as data %}
                                                        <a target="_blank" href="{{ data.certificate.url }}"
                                                           class="btn btn-success">Yuklab olish
                                                        </a>
                                                    {% endwith %}
                                                {% endif %}
{#                                                 <a type="button" class="show-modal"#}
{#                                                        style="margin-left: 20px;"#}
{#                                                       data-bs-toggle="modal"#}
{#                                                       data-bs-target=".bs-example-modal-center"#}
{#                                                       url="{% url "certificate:delete" pk=certificates.id %}">#}
{#                                                        <i class="mdi mdi-trash-can-outline align-middle fs-4 p-0 m-0"></i>#}
{#                                                 </a>#}
                                                {% if group.course.id|userCertificate:student.id %}
                                                    {% with group.course.id|userCertificate:student.id as data %}
                                                        <button class="btn" onclick="confirmDelete({{ data.id }})"> <i class="mdi mdi-trash-can-outline align-middle fs-4 p-0 m-0"></i></button>
                                                    {% endwith %}
                                                {% else %}
                                                {% endif %}

                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Tasdiqlash</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Yopish"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Siz ushbu sertifikatni o‘chirmoqchimisiz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button style="background-color: #F16623; color: white;" type="button" class="btn " data-bs-dismiss="modal">Bekor qilish</button>
                                                                <button style="background-color: #F16623; color: white;" type="button" class="btn " id="confirmDeleteBtn">Ha, o‘chirish</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- container-fluid -->
    </div>


{% endblock content %}

{% block footer %}
    <script>
         function generateCertificate(student) {
            let certificate_type = $(`#certificate-${student}`);
            certificate_type = certificate_type.val().split("-")[1];
            $.ajax({
                method: "POST",
                url: "{% url 'certificate:generate' group=group.id %}",
                data: {
                    "student": student,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    certificate_type: certificate_type,
                },
                success: function (data) {
                    if (data.success === true) {
                        $(`#button-container-${student}`).html(`<a target="_blank" href="${data.url}"
                                                               class="btn btn-success">Yuklab olish
                                                            </a>`);
                        location.reload(); // This line will refresh the page
                    }
                }
            });
        }

    </script>
{% endblock footer %}