{% extends "layouts/main.html" %}
{% load helpers %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow-2">
                        <div class="card-header justify-content-between d-flex align-items-center mb-5">
                            <h4 class="card-title">Certificate</h4>
                            {% if request.user.is_authenticated %}
                                <a url="{% url 'fast_certificate:create' %}"
                                   class="btn btn-sm btn-success show-offcanvas main-background-color"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#offcanvasRight">
                                    Qo'shish <i class="mdi mdi-arrow-right align-middle"></i>
                                </a>
                            {% endif %}

                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0" id="datatable">
                                    <thead>
                                    <tr>
                                        <th>FIO</th>
                                        <th>Certifikat turi</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in fast_certificate %}
                                        <tr>
                                            <th scope="row"><a
                                                    class="a-href"
                                                    href="#">{{ student.first_name }} {{ student.last_name }}</a>
                                            </th>
                                            <td>
                                                <select class="select-input" name="type"
                                                        id="certificate-{{ student.id }}">
                                                    <option value="">
                                                        {{ student.certificate_type }}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>

                                                <a target="_blank"
                                                   href="





















                                                           {% if student.certificate %}{{ student.certificate.url }}{% else %}#{% endif %}"
                                                   class="btn btn-success {% if not student.certificate %}disabled{% endif %}">
                                                    Yuklab olish
                                                </a>


                                                <button class="btn"
                                                        data-bs-toggle="modal" data-bs-target="#CertificateDelete">
                                                    <i class=" mdi mdi-trash-can-outline align-middle fs-4 p-0 m-0
                                                "></i>
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="CertificateDelete" tabindex="-1"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Tasdiqlash</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Yopish"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Siz ushbu sertifikatni o‘chirmoqchimisiz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post" name="delete">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="name" value="delete">
                                                                    <input type="hidden" name="certificate_id"
                                                                           value="{{ student.id }}">

                                                                    <button style="background-color: #F16623; color: white;"
                                                                            type="button" class="btn"
                                                                            data-bs-dismiss="modal">Bekor qilish
                                                                    </button>
                                                                    <button style="background-color: #F16623; color: white;"
                                                                            type="submit" class="btn"
                                                                            id="DeleteConfDS">Ha, o‘chirish
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </td>

                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table><!-- end table -->
                            </div><!-- end table responsive -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- container-fluid -->
    </div>
    <script>


    </script>
{% endblock content %}
